<h1 class="center ">{{ title }}</h1>

<form (ngSubmit)="onSubmit()" novalidate>
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" [formControl]="emailFormControl" />
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('maxlength')">
      Email must be less than or equal to 255 characters
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email')">
      Invalid email format
    </mat-error>
  </div>

  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" [formControl]="nameFormControl" />
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('maxlength')">
      Name must be less than or equal to 200 characters
    </mat-error>
  </div>

  <div>
    <label for="gender">Gender:</label>
    <mat-form-field appearance="fill">
      <mat-select id="gender" [formControl]="genderFormControl">
        <mat-option *ngFor="let gender of genderList" [value]="gender">
          {{ gender }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="genderFormControl.hasError('required')">
        Gender is required
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <label for="birthdate">Birthdate:</label>
    <input id="birthdate" type="date" [formControl]="birthdateFormControl" />
    <mat-error *ngIf="birthdateFormControl.hasError('required')">
      Birthdate is required
    </mat-error>
  </div>

  <div>
    <label for="age">Age:</label>
    <input id="age" type="text" [value]="age" readonly />
  </div>

  <div>
    <label for="workExperience">Work Experience (in years):</label>
    <input
      id="workExperience"
      type="number"
      [formControl]="workExperienceFormControl"
    />
    <mat-error *ngIf="workExperienceFormControl.hasError('required')">
      Work experience is required
    </mat-error>
    <mat-error *ngIf="workExperienceFormControl.hasError('pattern')">
      Work experience must be a valid number
    </mat-error>
  </div>

  <button type="submit">Submit</button>
</form>
