body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
  }
  
  form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="text"],
  mat-select {
    display: block;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  mat-select {
    margin-top: 10px;
  }
  
  mat-error {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #0070c9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005ea3;
  }
  h1
  {
    text-align: center;
  }